<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/advisorNav.ejs') %>
    <h2>Advisor Home page</h2>
    <a href="">Student List</a>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
