<nav class="nav">
  <label class="nav-main"><a href="/">MCM Scholarship</a></label>

  <ul>
    <li class="nav-elm">
      <a href="/advisor/applications">View Applications</a>
    </li>
    <li class="nav-elm">
        <a href="/advisor/applications">View Applications</a>
      </li>
  </ul>
</nav>
