<nav class="nav">
  <label class="nav-main"><a href="/">MCM Scholarship</a></label>

  <ul>
    <li class="nav-elm">
      <a href="/student/register/1">Apply for Scholarship</a>
    </li>

    <li class="nav-elm"><a href="/about">About</a></li>

    <li class="nav-elm">
      <a href="/auth/signin">Signin</a>
    </li>
  </ul>
</nav>
