<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div id="form">
      <h2>Regsitration Form</h2>
      <form
        action="/student/register/2"
        method="POST"
        enctype="multipart/form-data"
      >
        <div>
          <div>
            <label for="applicant-photo"
              >Passport size photo:<span class="starred">*</span> </label
            ><br />
            <input
              type="file"
              name="applicant-photo"
              id="applicant-photo"
            /><br />
            <span class="error" id="applicant-photo-err"></span>
          </div>
          <div>
            <label for="kerala-entrance-rank-list"
              >Kerala Entrance Rank List:<span class="starred">*</span> </label
            ><br />
            <input
              type="file"
              name="kerala-entrance-rank-list"
              id="kerala-entrance-rank-list"
            />
            <br />
            <span class="error" id="kerala-entrance-rank-list-err"></span>
          </div>
          <div>
            <label for="bank-account-pass-book"
              >Bank Account Pass Book:<span class="starred">*</span> </label
            ><br />
            <input
              type="file"
              name="bank-account-pass-book"
              id="bank-account-pass-book"
            />
            <br />
            <span class="error" id="bank-account-pass-book-err"></span>
          </div>
          <div>
            <label for="income-certificate"
              >Income Certificate:<span class="starred">*</span> </label
            ><br />
            <input
              type="file"
              name="income-certificate"
              id="income-certificate"
            />
            <br />
            <span class="error" id="income-certificate-err"></span>
          </div>
        </div>
        <div>
          <input type="hidden" id="id" value="<%= application %>" />
          <button id="btn">Submit Application</button>
        </div>
      </form>
    </div>
    <script>
      const btn = document.getElementById("btn");
      const applicantPhotoErr = document.getElementById("applicant-photo-err");
      const keralaEntranceRankListErr = document.getElementById(
        "kerala-entrance-rank-list-err"
      );
      const bankAccountPassBookErr = document.getElementById(
        "bank-account-pass-book-err"
      );

      const incomeCertificateErr = document.getElementById(
        "income-certificate-err"
      );
      btn.addEventListener("click", async (event) => {
        event.preventDefault();

        applicantPhotoErr.textContent = "";
        keralaEntranceRankListErr.textContent = "";
        bankAccountPassBookErr.textContent = "";
        incomeCertificateErr.textContent = "";

        const id = document.getElementById("id").value;
        const applicantPhoto =
          document.getElementById("applicant-photo").files[0];
        const keralaEntranceRankList = document.getElementById(
          "kerala-entrance-rank-list"
        ).files[0];
        const bankAccountPassBook = document.getElementById(
          "bank-account-pass-book"
        ).files[0];

        const incomeCertificate =
          document.getElementById("income-certificate").files[0];

        let isError = false;

        if (!applicantPhoto.files || applicantPhoto.files.length === 0) {
          applicantPhotoErr.textContent = "Please select a file.";
          isError = true;
        }

        if (
          !keralaEntranceRankList.files ||
          keralaEntranceRankList.files.length === 0
        ) {
          keralaEntranceRankListErr.textContent = "Please select a file.";
          isError = true;
        }

        if (
          !bankAccountPassBook.files ||
          bankAccountPassBook.files.length === 0
        ) {
          bankAccountPassBookErr.textContent = "Please select a file.";
          isError = true;
        }

        if (!incomeCertificate.files || incomeCertificate.files.length === 0) {
          incomeCertificateErr.textContent = "Please select a file.";
          isError = true;
        }

        const formData = new FormData();

        formData.append("id", id);
        formData.append("applicant_photo", applicantPhoto);
        formData.append("kerala_entrance_rank_list", keralaEntranceRankList);
        formData.append("bank_account_pass_book", bankAccountPassBook);
        formData.append("income_certificate", incomeCertificate);

        console.log(...formData);

        try {
          const res = await fetch(`/student/register/2/`, {
            method: "POST",
            body: formData,
          });

          const data = await res.json();
          console.log(data);
          
          if (data.error) {
          }
          if (data.application) {
            location.assign(
              `/student/register/3/confirm-application/${data.application}`
            );
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
